<!--Trenton is boss-->

<hr>

        <h2> Contact</h2>
        <p> If you'd like to contact us, please leave your information in the spaces provided below.
        If you don't, please do not fill out any of your contact information below. I would advise you to
        realize this is meaningless text to fill space. Stop reading this you are wasting your time.</p>


    <div class="contact-card bg-light p-4">
            <div class="row">
                <div class="col text-right">
                    <label>Your E-mail</label>
                </div>
                    <div class="col-8">
                    <input type="email" class="form-control" placeholder="name@example.com">
                    </div>
            </div>

            <div class="form-group row">
                <div class="col text-right">
                    <label for="messageinfo" class="col ml-5">Your message</label>
                </div>
                <div class="col-8 m-3">
                    <textarea class="form-control" id="messageinfo" rows="3" placeholder="Please enter your message here..."></textarea>
                </div>
            </div>

            <div class="form-group row">
                <div class="col text-right">
                    <button type="submit" class="btn btn-primary text-right" style="float:right;">Submit</button>
                </div>
            </div>
    </div>



