<!-- your html code here -->

<!--Trenton is boss-->
<form>
<h2> Contact</h2>
<p> If you'd like to contact us, please leave your information in the spaces provided below.</p>

<div class="form-group">
    <label for="exampleFormControlInput1">Your E-mail Address</label>
    <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com">
  </div>

<div class="form-group">
    <label for="exampleFormControlTextarea1">Example textarea</label>
    <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
  </div>
<button type="submit" class="btn btn-primary">Submit</button>

</form>






</form>