<!-- your html code here -->
<hr>
<div class="row no-gutters">
  <div class="col-12 col-sm-6 col-md-8 bg-secondary p-4 rounded"><h1>This First Heading <span class="text-white">Will catch your eye</span></h1>
        <p>We are working as a team to build a big project and learning cool and useful tools to develop beautiful web applications.
        Colby is our awesome teacher and here is a picture of Albert Einstein.</p>
  </div>

  <div class="h1Image">
   <div class="col-6 col-md-4" style="background: white;">
     <img src="https://cdn.pixabay.com/photo/2015/05/25/23/47/albert-einstein-784078__340.jpg" class="rounded-circle" alt="...">

   </div>
  </div>
</div>
