<!-- your html code here -->
<div class="row no-gutters">
  <div class="col-12 col-sm-6 col-md-8" style="background: white;"><h1><b>This First Heading</b>Will catch you eye</h1>
        <p>We are working asa team to build a big project and learning cool and useful tools to development beutiful web applications.</p>
  </div>

  <div class="h1Image">
   <div class="col-6 col-md-4" style="background: white;">
     <img src="https://cdn.pixabay.com/photo/2015/05/25/23/47/albert-einstein-784078__340.jpg" class="rounded-circle" alt="...">

   </div>
  </div>
</div>
