<!-- your html code here -->
<!DOCTYPE html>
<html lang="en">
    <head>
	<meta>
        <meta>
        <meta>
        <title></title>
    </head>

<!--Ryan's portion-->

<body>
        <h2>Portfolio</h2>
        <div class="card-deck">
        <div class="card">
            <img src="https://www.zedinteriors.com/assets/user/images/blog/111.jpg" class="card-img-top" alt="...">
            <div class="card-body">
            <h5 class="card-title">White</h5>
            <p class="card-text">Just as black is total absorption, so white is total reflection. This color represents serenity, cleanliness and spirituality, and purity. If you want to create a clean and wide atmosphere in a room, choose white.</p>
            <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
            </div>
        </div>
        <div class="card">
            <img src="http://www.aprar.net/7/2016/01/large-interior-decor-in-mauritius-with-wooden-cabinet-and-black-seat-can-add-the-modern-touch-inside-house-design-ideas-with-white-lamp-inside-room.jpg" class="card-img-top" alt="...">
            <div class="card-body">
            <h5 class="card-title">Elm</h5>
            <p class="card-text">The psychological effect that it produces in us depends mostly on the combination of other elements on your design. Typically modern wood neutral variants provide comfort, stability, warmth, depth and is overall a welcoming color.</p>
            <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
            </div>
        </div>
        <div class="card">
            <img src="https://macm.org/app/uploads/2016/12/tm14_CA2M_Testigo12-1-e1480543893738-1920x1200.jpg" class="card-img-top" alt="...">
            <div class="card-body">
            <h5 class="card-title">Concrete</h5>
            <p class="card-text">Cement gray is subdued, quiet and reserved. It will never be the center of attention. It is the color of architecture, commerce and in theory is both gothic and industrial. Cement is demanded by those who put their noses to the grindstone. </p>
            <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
            </div>
        </div>
        </div>

</body>


</html>
<p>Hello, I'm the portfolio.html</p>


