<!-- your html code here -->
<!DOCTYPE html>
<html lang="en">
    <head>
	<meta>
        <meta>
        <meta>
        <title>asdasdasdasd</title>

		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
           	<script src="https://kit.fontawesome.com/1815825ca6.js" crossorigin="anonymous"></script>
            	<link rel="stylesheet" href= "index.css">

		<!-- <style>
                * {
                box-sizing: border-box;
                }

                .column {
                float: left;
                width: 33.33%;
                padding: 5px;
                }

                /* Clearfix (clear floats) */
                .row::after {
                content: "";
                clear: both;
                display: table;
                }
        </style> -->

    </head>

<!--enter the body-->

    <body>
        <div class="card-group">
  <div class="card">
    <img src="https://cdn.pixabay.com/photo/2013/03/02/05/02/death-valley-89261_1280.jpg" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Card title</h5>
      <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
      <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
    </div>
  </div>
  <div class="card">
    <img src="https://cdn.pixabay.com/photo/2016/09/14/15/56/usa-1669714_1280.jpg" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Card title</h5>
      <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
      <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
    </div>
  </div>
  <div class="card">
    <img src="https://cdn.pixabay.com/photo/2012/11/09/20/16/muddy-sand-65561_1280.jpg" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Card title</h5>
      <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
      <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
    </div>
  </div>
</div>
    </body>


</html>
<p>Hello, I'm the portfolio.html</p>
<h1>Ryan McLean<h1>

