<!-- Code made by Samir -->
<hr>
<div class="row service">
    <div class="col-4">
        <div class="service_big_avatar"></div>
    </div>
    <div class="col service_text">
        <h1>The Seconde Heading <span class="service_h1_grey">Is Pretty Cool Too.</span></h1>
        <p>
        I'm just glad my fat, ugly mama isn't alive to see this day. Enough about your promiscuous mother, Hermes! We have bigger problems.
        Morbo can't understand his teleprompter because he forgot how you say that letter that's shaped like a man wearing a hat.
        </p>
    </div>
</div>
<hr>